.env
/src/photos/photo
/venv
handlers/more_checker.py
handlers/seller_hands.py
handlers/setting_menu.py
handlers/test.db
test.py
test.db
keyboards/inline_eng.py
keyboards/sell_acc_keyb.py
keyboards/seller_keyb.py
keyboards/inline_lang.py
other
src/for_more_check.py
tst
1.png
2.png
3.png
accounts_get.txt
BACKGROUNG.png
base.py
logs.log
test_2.py
tst_image.py
valo_lib_more.py
.idea